.containerGrid {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  border-radius: 2rem;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0.6rem 0.6rem 4rem #e9e8e7;
  position: relative;
}
.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
}
.containerCard {
  border-radius: 0;
}
.fire {
  background-color: #ffb2a6;
}
.grass {
  background-color: #b6ffce;
}
.bug {
  background-color: #c0eda6;
}
.dark {
  background-color: #a8a8c5;
}
.dragon {
  background-color: #8fe7ff;
}
.electric {
  background-color: #fffda2;
}
.fairy {
  background-color: #f582a7;
}
.fighting {
  background-color: #f09b87;
}
.flying {
  background-color: #94afc7;
}
.ghost {
  background-color: #c08ec2;
}
.ground {
  background-color: #e3caa5;
}
.ice {
  background-color: #daf1f8;
}
.normal {
  background-color: #e4aec5;
}
.poison {
  background-color: #bc8cf2;
}
.psychic {
  background-color: #ffadf0;
}
.rock {
  background-color: #ffb69b;
}
.steel {
  background-color: #4ce4b1;
}
.water {
  background-color: #b4ece3;
}
.shadow {
  background-color: #838392;
}
.unknown {
  background-color: #c5d8a4;
}

.stats {
  padding: 2rem 2rem 0 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.statsText {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}
.mainText {
  text-transform: capitalize;
  color: #66625c;
  font-size: 1.5rem;
  margin-top: -1rem;
  line-height: 1.2;
  grid-column: 1/3;
}
.id {
  font-size: 1rem;
  color: #66625c;
  font-weight: bold;
  grid-column: 1/3;
}
.containerCard .id {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
}

.types {
  grid-column: 1/3;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0.1px;
  width: 80%;
}

.containerCard .types {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 50%;
}
.img {
  grid-column: 1/3;
  max-height: 5rem;
  margin-bottom: 5%;
}

.containerCard .img {
  max-height: 8rem;
}
.circle {
  border-radius: 4rem;
  display: grid;
  place-content: center;
  background-color: #f6f8fc;
  font-weight: bold;
  width: 6rem;
  height: 3rem;
}

.statsCircle,
.statsCircleTotal {
  text-align: center;
  background-color: #f7f9fb;
  padding-bottom: 0.5rem;
  box-shadow: 0.6rem 0.6rem 4rem #e9e8e7;
  font-weight: bold;
  border-radius: 2rem;
}
.statsCircle {
  background-color: #f7f9fb;
}
.statsCircleTotal {
  background-color: #8eaaff;
  color: #44628a;
}
.text {
  font-weight: bold;
  width: 100%;
}
.textCircle {
  border-radius: 50%;
  display: grid;
  place-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: white;
  margin: 0.2rem;
}

.divText {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.hp {
  background-color: #df2140;
}
.attack {
  background-color: #ff9349;
}
.defense {
  background-color: #ffdc4b;
}
.specialAttack {
  background-color: #85ddff;
}
.specialDefense {
  background-color: #a8f088;
}
.speed {
  background-color: #fb94a8;
}
.total {
  background-color: #7896da;
}
.divButtons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 3rem;
  column-gap: 2rem;
}
.delete,
.update {
  width: 50%;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
}
.delete {
  background-color: #e96a63;
}
.update {
  background-color: #a9f089;
}
.update:active {
  color: #a9f089;
  background-color: #fff;
  border: 1px solid #a9f089;
}
.delete:active {
  background-color: #fff;
  color: #e96a63;
  border: 1px solid #e96a63;
}
@media (max-width: 760px) {
  .containerGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .divButtons {
    column-gap: 1rem;
    width: 80%;
  }
}
@media (max-width: 440px) {
  .containerGrid {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
