*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* body { */
/* background-color: #f6f8fc; */
/* } */
.fire {
  color: #fc4a5a;
}
.grass {
  color: #24cb51;
}
.bug {
  color: #418651;
}
.dark {
  color: #5a5b79;
}
.dragon {
  color: #60cbdd;
}
.electric {
  color: #ffd32d;
}
.fairy {
  color: #ff1a64;
}
.fighting {
  color: #f05f3b;
}
.flying {
  color: #6f8293;
}
.ghost {
  color: #906791;
}
.ground {
  color: #6f481e;
}
.ice {
  color: #96a6ab;
}
.normal {
  color: #624a50;
}
.poison {
  color: #864879;
}
.psychic {
  color: #ce7bb0;
}
.rock {
  color: #8b3f23;
}
.steel {
  color: #40be94;
}
.water {
  color: #61a4bc;
}
.shadow {
  color: #040706;
}
.unknown {
  color: #5e746d;
}
