*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
/* body { */
/* background-color: #f6f8fc; */
/* } */
.fire {
  background-color: #fc4a5a;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.grass {
  background-color: #24cb51;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.bug {
  background-color: #418651;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.dark {
  background-color: #5a5b79;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.dragon {
  background-color: #60cbdd;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.electric {
  background-color: #ffd32d;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.fairy {
  background-color: #ff1a64;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.fighting {
  background-color: #f05f3b;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.flying {
  background-color: #6f8293;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.ghost {
  background-color: #906791;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.ground {
  background-color: #6f481e;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.ice {
  background-color: #96a6ab;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.normal {
  background-color: #624a50;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.poison {
  background-color: #864879;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.psychic {
  background-color: #ce7bb0;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.rock {
  background-color: #8b3f23;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.steel {
  background-color: #2e8b6c;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.water {
  background-color: #61a4bc;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.shadow {
  background-color: #55555e;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.unknown {
  background-color: #5f7464;
  border-radius: 0.2rem;
  align-self: start;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: bold;
  color: #fff;
}
