.landing-page {
  background-image: url("../../img/Pokemon_Pikachu_Wallpaper_1920x1080_Pokemon_Pikachu.jpg");
  background-size: cover;
  min-height: 100vh;
  width: 65%;
  right: 0;
  border-radius: 50% 0 0 50%;
  position: absolute;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: #d6552e;
  display: grid;
  place-content: center;
}
