.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  padding: 2rem;
  align-items: baseline;
}
.divImg {
  position: relative;
}
.imgPoke {
  bottom: 30%;
  width: 60%;
  height: auto;
  position: absolute;
}
@media (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 440px) {
  .grid {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
