.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 0 2rem;
}
.orderContainer {
  display: flex;
  justify-content: space-between;
}
.option {
  padding: 0.5rem;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0.6rem 0.6rem 4rem #e9e8e7;
  color: #909497;
  border-radius: 0.6rem;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 98%;
  margin-right: 0.5rem;
}
.option::-ms-expand {
  display: none;
}

.mainOption {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;
  background-image: url("../../img/black_arrow.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 98%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.mainOption::-ms-expand {
  display: none;
}
.fire {
  color: #fc4a5a;
}
.grass {
  color: #24cb51;
}
.bug {
  color: #418651;
}
.dark {
  color: #5a5b79;
}
.dragon {
  color: #60cbdd;
}
.electric {
  color: #ffd32d;
}
.fairy {
  color: #ff1a64;
}
.fighting {
  color: #f05f3b;
}
.flying {
  color: #6f8293;
}
.ghost {
  color: #906791;
}
.ground {
  color: #6f481e;
}
.ice {
  color: #96a6ab;
}
.normal {
  color: #624a50;
}
.poison {
  color: #864879;
}
.psychic {
  color: #ce7bb0;
}
.rock {
  color: #8b3f23;
}
.steel {
  color: #40be94;
}
.water {
  color: #61a4bc;
}
.shadow {
  color: #040706;
}
.unknown {
  color: #5e746d;
}
@media (max-width: 480px) {
  .option {
    margin: 0;
  }
}
@media (max-width: 440px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
