.form {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 2rem;
  width: 50%;
  min-width: 400px;
  min-height: 100vh;
  padding: 5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.6rem 0.6rem 4rem #e9e8e7;
  color: #66625c;
}
.label {
  width: 100%;
  margin-top: 0.5rem;
}
.select {
  width: 100%;
  cursor: pointer;
  appearance: none;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  background-color: white;
  border: 1px solid #676774;
  outline: none;
  cursor: pointer;
  color: #909497;
  background-image: url("../../img/arrow.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 95%;
}
.select::-ms-expand {
  display: none;
}

.divTypes {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.input {
  width: 100%;
}
.error {
  width: 100%;
  color: #fc4a5a;
}
.errorInput {
  width: 100%;
  animation: shake 300ms;
}
@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
.submit {
  width: 100%;
  margin-top: 2rem;
  background-color: #fc4a5a;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.submit:active {
  background-color: #fff;
  color: #fc4a5a;
  border: 1px solid #fc4a5a;
}
.button {
  width: 50%;
  border: none;
  appearance: none;
  cursor: pointer;
}
.fire {
  color: #fc4a5a;
}
.grass {
  color: #24cb51;
}
.bug {
  color: #418651;
}
.dark {
  color: #5a5b79;
}
.dragon {
  color: #60cbdd;
}
.electric {
  color: #ffd32d;
}
.fairy {
  color: #ff1a64;
}
.fighting {
  color: #f05f3b;
}
.flying {
  color: #6f8293;
}
.ghost {
  color: #906791;
}
.ground {
  color: #6f481e;
}
.ice {
  color: #96a6ab;
}
.normal {
  color: #624a50;
}
.poison {
  color: #864879;
}
.psychic {
  color: #ce7bb0;
}
.rock {
  color: #8b3f23;
}
.steel {
  color: #40be94;
}
.water {
  color: #61a4bc;
}
.shadow {
  color: #040706;
}
.unknown {
  color: #5e746d;
}
