.container {
  padding: 2rem;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
  grid-gap: 2rem;
}
@media (max-width: 768px) {
  .container {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .container {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }
}

@media (max-width: 440px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
